<div id="Contacto" class="contenedor-section">
    <section appAnimations animationInput="fadeIn"  >
        <div class="section-title col-md-12">
            <h2 class="h2-base">Contacto</h2>
            <p class="p-base"><strong>Tus comentarios nos ayudan a mejorar, para brindarte un mejor servicio.</strong></p>
            <p class="p-base">Nuestra misión es brindar el mejor servicio del mercado en comercialización mayorista para que nuestros
                clientes puedan maximizar las ganancias de sus negocios ofreciéndoles un amplio surtido de productos,
                marcas reconocidas y precios competitivos.</p>
        </div>
        <div class="col-md-12">
            <form action="" method="post" role="form">
    
                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nombre y Apellido" required>
    
                    <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electrónico"
                        required>
    
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" name="phone" id="phone" placeholder="Teléfono" required>
                    <!-- <input type="text" class="form-control" name="sucursal" id="sucursal" placeholder="Sucursal de Referencia" required> -->
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" id="message" rows="5" placeholder="Mensaje o Comentario"
                        required></textarea>
                </div>
                <input type="hidden" name="to" value="ulises@novomare.com.ar">
                <button type="submit" class="btn btn-primary col-md-2 boton-enviar gf">Enviar</button>
            </form>
        </div>
    </section>
    </div>