<div class="nav">
  <div class="nav-logo">
    <a [routerLink]="''" [fragment]="'top'">Miramar Centralizada</a>
  </div>
  <div #navItemsContainer class="nav-items">
    <ul>
      @for(item of navItems; track item){
        <li><a [routerLink]="item.routerLink" [fragment]="item.fragment">{{item.nombre}}</a></li>
      }
    </ul>
  </div>
  <div class="contenedor-btn-menu-movil">
    <button #btnMenuMovil (click)="abrirCerrarMenuMovil()" class="btn-menu-movil">Menú</button>
  </div>
</div>
<div [ngClass]="isMenuMovilAbierto ? 'abierto fadeInTop' : 'cerrado' "  class="nav-items-menu-movil">
  <ul>
    @for(item of navItems; track item){
      <li><a (click)="abrirCerrarMenuMovil()" [routerLink]="item.routerLink" [fragment]="item.fragment">{{item.nombre}}</a></li>
    }
  </ul>
</div>