#header {
    top: 0px;
    width: 100%;
    transition: all 0.5s;
    z-index: 997;
    padding: 5px 0;
    color: #fff;
}

.header-scrolled,
.header-inner-pages {
    background: #fff;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#header.header-scrolled {
    color: #000;
}

#header .logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: font-size 0.4s;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 85px;
}

/* NAVBAR */

.principal-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0 10px 30px;
    font-weight: 600;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
    color: #000;
}

.navbar a i,
.navbar a:focus i {
    line-height: 0;
    margin-left: 5px;
}

#header .navbar a:hover,
#header .navbar .active,
#header .navbar .active:focus,
#header .navbar li:hover>a {
    color: #F9BE06;
}

#header.header-scrolled .navbar a:hover,
#header.header-scrolled .navbar .active,
#header.header-scrolled .navbar .active:focus,
#header.header-scrolled .navbar li:hover>a {
    color: #4F59A0;
}

#navbar ul li a.nav-link img {
    width: 25px;
}

a.nav-item{
    font-size: 1.25vmax;
}

@media (max-width: 768px){
    a.nav-item{
        font-size: 2.25vmax;
    }
}

/**
* Mobile Navigation 
*/

.logo-mobile {
    max-width: 250px;
    padding: 40px 30px;
    animation: fade-in-top 0.7s;
}

@media (max-height:750px) {
    .logo-mobile {
        display: none;
    }
}


.mobile-nav-toggle {
    cursor: pointer;
    display: none;
    line-height: 0;
    font-size: 2.7vmax
}

@media (max-width: 768px){
    .mobile-nav-toggle {
        font-size: 3.5vmax;
    }
}

.navbar-mobile .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
}

.mobile-nav-toggle .bi-x {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Este media query intercambia menú desktop por móvil */
@media (max-width: 1600px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(40, 58, 90, 0.9);
    transition: 0.3s;
    z-index: 999;
    animation: fade-in-top 0.5s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.navbar-mobile ul {
    display: flex;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    flex-direction: column;
    justify-content: center;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    color: #37517e;

    animation: fade-in-top 0.7s;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #47b2e4;
}

@media (max-width:1200px){
    .navbar a,
  .navbar a:focus { 
    display: flex;
    visibility: visible !important;
    flex-direction: row;
    justify-content: center;
    }
  }
  
  @media (min-width:1200px){
    .logo-mobile{
      display: none;
  }
  }