<footer>
    <div class="contenedor">
        <div class="contenido">
            <div class="titulo">
                <p>Miramar Centralizada es un proyecto que busca reunir la
                    información más importante de la ciudad de Miramar en un solo lugar
                </p>
            </div>
            <div class="descripcion">
                <p>Creado por <strong>Ulises Basualdo</strong> <strong>Programador Full Stack</strong></p>
                <p>Contacto</p>
                <p class="contacto">
                    <a href="https://www.linkedin.com/in/ulisesbasualdo" target="_blank" rel="noopener">LinkedIn</a>
                     | <a href="https://wa.me/542291407553" target="_blank" rel="noopener">WhatsApp</a>
                </p>
            </div>
            <div class="derechos">
                <i class="gf">"Agotar los medios para lograr el objetivo con lo que se tiene más a la mano"</i>
            </div>
        </div>
    </div>
</footer>
