/* =============== */
/* GENERAL */
/* =============== */
/* p.warning{
  color: #fff700;
  text-shadow: 1px 1px 1px #000;
} */

.title{
  text-wrap: balance;
}

/* a:active {
  text-decoration: none;
} */

/* =============== */
/* SECTION REMISES */
/* =============== */

section.contenedor-cards {
  text-align: center;
  padding: 7% 5% 0% 5%;
}

section.remises .title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card {
  padding: 1em;
  text-align: left;
  box-shadow: 0 0 45px 26px #00000017;
  -webkit-box-shadow: 0px 0px 45px 26px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 45px 26px rgba(0, 0, 0, 0.09);
}

.card a {
  display: inline-block;
}

.cards {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .title{
    text-align: left;
  }
  .card {
    width: 100%;
  }
  .cards {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
  }
}

/* =============== */
/* FIN SECTION REMISES */
/* =============== */

